main .block1 {
    width: 100%;
    height: 620px;
    background: url(/img/background.png) no-repeat;
    -webkit-background-size: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
main .block1 .svg-mouse {
    position: absolute;
    top: 685px;
}
main .block1 .container {
    max-width: 920px;
    height: 245px;
    border: 1px solid var(--color-gold);
    display: flex;
    justify-content: center;
    align-items: center;
}
main .block1 .container h1 {
    font-size: 4.000rem;
    color: var(--color-white);
    letter-spacing: 3.2px;
    margin-bottom: 45px;
    width: 777px;
    height: 59px;
}
main .block1 .container p {
    width: 777px;
    height: 51px;
    word-wrap:break-word;
    text-align: center;
    font-size: 1.125rem;
    color: var(--color-white);
    line-height: 158.2%;
}




.block2 {
    width: 100%;
    height: 561px;
    position: relative;
    display: flex;
}
.block2 .left-grey {
    width: 39.325%;
    background-color: var(--color-grey);
    height: 100%;
    position: absolute;
    z-index: 0;
}
.block2 .right-grey {
    width: 39.325%;
    background-color: var(--color-grey);
    height: 100%;
    position: absolute;
    right: 0px;
    z-index: 0;
}
.block2 .container {
    width: 1110px;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 1;
}
.block2 .container .left-container .line {
    width: 90px;
    height: 6px;
    background-color: var(--color-gold);
    margin-bottom: 40px;
}
.block2 .container .left-container h2 {
    max-width: 385px;
    font-size: 2.5rem;
    letter-spacing: 2px;
    color: var(--color-white);
    line-height: 123%;
    padding-bottom: 30px;
}
.block2 .container .left-container p {
    max-width: 316px;
    font-size: 1.125rem;
    color: var(--color-white);
    font-weight: 400;
    line-height: 158.2%;
    padding-bottom: 50px;
}
.block2 .container .left-container button {
    width: 220px;
    height: 55px;
    background-color: var(--color-gold);
    border: none;
    color: var(--color-white);
}
.block2 .container img {
    padding-left: 90px;
}
.block2 .container .right-container {
    display: flex;
    justify-content: end;
    align-items: center;
    flex-wrap: wrap;
}
.block2 .container .right-container button {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.block2 .container .right-container button span {
    font-size: 1rem;
    letter-spacing: 1.6px;
    line-height: 158.2%;
    color: var(--color-gold);
    font-weight: 600;
}
.block2 .container .right-container .button1 {
    margin-bottom: 245px;
}
.block2 .container .right-container .button1 span {
    margin-right: 31px;
}
.block2 .container .right-container .button2 span {
    margin-left: 30px;
}




.block3 {
    width: 100%;
    height: 844px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.block3 .container {
    width: 1110px;
    height: 504px;
}
.block3 .container .line {
    width: 90px;
    height: 6px;
    background-color: var(--color-gold);
    margin-bottom: 40px;
}
.block3 .container h2 {
    max-width: 385px;
    font-size: 2.5rem;
    letter-spacing: 2px;
    color: var(--color-white);
    line-height: 123%;
    padding-bottom: 60px;
}
.block3 .container .services {
    width: 1110px;
    height: 360px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.block3 .container .services a {
    width: 276px;
    height: 180px;
    background-color: var(--color-grey);
    margin-right: 1px;
    margin-bottom: 1px;
}
.block3 .container .services a .airplane .ellipse {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin: 35px 103px 23px 103px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.block3 .container .services a .airplane .ellipse svg {
    fill: var(--color-dark);
}
.block3 .container .services a .airplane h3 {
    margin: 0px 42px 35px 42px;
    text-align: center;
    font-size: 1.125rem;
    line-height: 123%;
    letter-spacing: 0.9px;
    color: var(--color-white);
}
.block3 .container .services a:hover {
    background-color: var(--color-gold);
}
.block3 .container .services a:hover .ellipse {
    background-color: var(--color-white);
}
.block3 .container .services a:hover .color {
    fill: var(--color-dark);
}




.block4 {
    width: 100%;
    height: 602px;
    display: flex;
    justify-content: center;
}
.block4 .center-grey {
    width: 21.35%;
    height: 482px;
    background-color: var(--color-grey);
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    z-index: -1;
}
.block4 .container {
    width: 1110px;
    height: 100%;
    display: flex;
}
.block4 .container .left-container {
    margin-top: 80px;
}
.block4 .container .left-container .line {
    width: 90px;
    height: 6px;
    background-color: var(--color-gold);
    margin-bottom: 40px;
}
.block4 .container .left-container h2 {
    max-width: 385px;
    font-size: 2.5rem;
    letter-spacing: 2px;
    color: var(--color-white);
    line-height: 123%;
    padding-bottom: 60px;
}
.block4 .container .left-container p {
    max-width: 445px;
    font-size: 1rem;
    color: var(--color-white);
    font-weight: 400;
    line-height: 146.5%;
    padding-bottom: 50px;
}
.block4 .container .right-container {
    display: flex;
    flex-wrap: wrap;
    width: 600px;
    height: 320px;
    margin-top: 80px;
    margin-left: 65px;
}
.block4 .container .right-container .info-company {
    width: 200px;
    height: 160px;
    background-color: var(--color-white);
    box-shadow: 0 0 0.25px 0.25px var(--color-gold);
    text-align: center;
}
.block4 .container .right-container .text .text1 {
    display: block;
    height: 59px;
    font-size: 4.000rem;
    letter-spacing: 3.2px;
    color: var(--color-dark);
    font-weight: 700;
    margin-top: 23px;
    margin-bottom: 10px;
}
.block4 .container .right-container .text .text2 {
    display: block;
    height: 17px;
    font-size: 1.125rem;
    letter-spacing: 0.9px;
    color: var(--color-black);
    margin-bottom: 15px;
}
.block4 .container .right-container .text .text3 {
    display: block;
    font-size: 0.750rem;
    color: var(--color-black);
    margin-bottom: 25px;
    height: 11px;
}
.popup {
    width: 100%;
    height: 450px;
    background: var(--color-grey);
    position: relative;
    z-index: 1;
}
.popup iframe {
    width: 100%;
    display: block;
    position: relative;
    z-index: 0;
    opacity: 0.4;
    transition: 0.5s;
}
.popup iframe:hover {
    opacity: 1;
    transition: 0.5s;
}
